@import '../../../assets/style/vaiable.scss';
.oppointment_com {
  .am-tabs-default-bar-tab {
    background: #bcbcbc;
    height: 0.9501rem;
    @include font-dpr(17px);
  }
  .am-tabs-default-bar-tab.am-tabs-default-bar-tab-active {
    background: $brand-primary
  }
  .oppointment_com-tab-content {
    padding-top: 0.4187rem;
    padding-bottom: 0.9501rem;
  }
  .submit_opp {
    margin-top: 1.095rem;
  }
}
