@import '../../../assets/style/vaiable.scss';
.order_page{
  .button_gr-lg{
    padding: 0 0.3462rem;
    height: 0.9501rem;
    .am-button{
      height: 100%;
      line-height: .9501rem;
    }
    span{
      @include font-dpr(18px);
    }

  }
  .order_list-item {
    padding: 0.4589rem 0.3462rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d2d2d2;
    @include font-dpr(18px);
    .right {
      color: $color-text-base;
      text-align: right;
    }
    .left {
      color: $color-text-secondary;
    }
    .number_price {
      display: flex;
      span:nth-of-type(1) {
        margin-right: 1.2882rem;
      }
    }
    .preferential {
      display: flex;
      align-items: center;
    }
  }
}
