@import '../../../../../assets/style/vaiable.scss';
.pay_bottom {
  height: 0.934rem;
  display: flex;
  >div:nth-of-type(1) {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-dpr(16px);
    letter-spacing: 2px;
    color: $color-text-secondary;
    span {
      color: #ff4e00;
    }
  }
  >div:nth-of-type(2) {
    background-color: #40c970;
    text-align: center;
    flex-basis: 30%;
    height: 100%;
    line-height: 0.934rem;
    @include font-dpr(18px);
    a {
      color: #fff;
    }
  }
}
