@import '../../../assets/style/vaiable.scss';
.title-bar {
  height: 0.9501rem;
  line-height: 0.9501rem;
  background-color: $brand-primary;
  display: flex;
  padding: 0 0.3462rem;
  justify-content: space-between;
  align-items: center;
  p,b{
    span {
      display: inline-block;
      margin-right: 0.4589rem;
    }
    @include font-dpr(18px);
    letter-spacing: 2px;
    color: #ffffff;
  }
}
