@import '../../../../../assets/style/vaiable.scss';
.order_payment {
  .order_payment-money {
    @include font-dpr(18px);
    height: 1.3607rem;
    line-height: 1.3607rem;
    color:$color-text-secondary;
    text-align: right;
    padding-right: 0.3462rem;
    span {
      color: #ff4e00;

    }
  }
  .order_payment-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4831rem 0.3462rem;
    border-bottom: 2px solid #d2d2d2;
    .left {
      display: flex;
      align-items: center;
      >div:nth-of-type(1){
        width: 0.9581rem;
        height: 0.9581rem;
      }
      >div:nth-of-type(2){
        p{
          line-height: 1.5
        }
        p:nth-of-type(1){
          @include font-dpr(18px);
          color: $color-text-secondary;
        }
        p:nth-of-type(2){
          @include font-dpr(16px);
          color: $color-text-base;
        }
      }
    }
    .right {
      span {
        display: inline-block;
        width: 0.2818rem;
        height: 0.2818rem;
        border: 2px solid #c9c9c9;
        border-radius: 50%;
        background-color: #f3f3f3;
      }
    }
  }
  .to_pay-wechat{
    margin-top: 7.6087rem;
  }
}
