#app {
  div[class$='_page'] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  .overflow_container {
    flex: 1;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
  }
  .bottom_bar {
    height: 1.1755rem;
    background: #ccc;
  }
  .page_content {
    width: 100%;
    height: 100%;


  }
}
